<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Users</h1>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Users</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Last Name</th>
              <th>Firt Name</th>
              <th>Gender</th>
              <th>Country</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
          </thead>
          {{#each users }}
          <tr>
            <th><img src={{avatar}} alt="" style="width: 100px; height: 100px;"></th>
            <th>{{lastName}}</th>
            <th>{{firstName}}</th>
            <th>{{gender}}</th>
            <th>{{country}}</th>
            <th>{{phoneNumber}}</th>
            <th>{{email}}</th>
          </tr>
          {{/each}}
          <tfoot>
            <tr>
              <th>Avatar</th>
              <th>Last Name</th>
              <th>Firt Name</th>
              <th>Gender</th>
              <th>Country</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>